 body {
      padding: 20px;
      margin: 0;
      --primary-color: rgb(17, 10, 97);
      width: 500px;
      max-width: 500px;
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 input {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid var(--primary-color);
      outline: none;
      border-radius: 20px;
 }
 
 input::placeholder {
      color: var(--primary-color);
      outline: none;
 }

 ul {
      margin-top: 20px;
      list-style: none;
      padding-left: 0;
 }

 li {

      margin-top: 5px;
 }

 li a {
      color: var(--primary-color);
      font-size: 15px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
 }

 li a:hover {
      color: var(--primary-color);
      text-decoration: underline;

 }

 button {
      padding: 10px;
      font-weight: bold;
      margin-top: 5px;
      width: 130px;
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
 }

 button:hover {
      font-size: large;
      opacity: 0.7;
 }

 .buttons {
      display: flex;
 }

 .save-buttons {
      flex-direction: row;
      align-items: flex-start;
      margin-right: 20%;
 }

 .delete-buttons {
      flex-direction: row;
      align-items: flex-end;
 }

 .save-buttons button {
      background-color: var(--primary-color);
      color: #fff;
      font-weight: bold;
      border: 2px solid var(--primary-color);
 }

 .delete-buttons button {
      background-color: #c51818;
      color: #fff;
      font-weight: bold;
      border: 2px solid #c51818;
 }

 h1 {
      color: var(--primary-color);
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
 }

 p {
      color: #454141;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
 }